<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Edinburgh Travel Planner">
<meta name="keywords" content="edinburgh, tourism, travel, planner, locations">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<title>Contact Us</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="title" class="row">
                <h1>Edinburgh Travel Planner - My Profile</h1>
            </div>
            <nav class="col">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="../aboutedinburgh/aboutedinburgh.html">About Edinburgh</a></li>
                    <li><a href="../loginpage/loginpage.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="content">
        <div id="profileshow">
            <img src="blank.png">
            <textarea rows="1" cols="31" readonly="readonly">John McDon</textarea>
            <button type="button">Upload Image</button>
        </div>
        <div id="savedplans">
            <h3>Saved Plans</h3>
            <p id="castle">Edinburgh Castle</p>
            <div class="btn-group" id="buttons">
                <button type="button" onclick="">View</button>
                <button type="button" onclick="">Delete</button>
            </div>
            <p id="arthurs">Arthurs Seat</p>
            <div class="btn-group" id="buttons">
                <button type="button" onclick="">View</button>
                <button type="button" onclick="">Delete</button>
            </div>
            <p id="botanic">Royal Botanic Gardens</p>
            <div class="btn-group" id="buttons">
                <button type="button" onclick="">View</button>
                <button type="button" onclick="">Delete</button>
            </div>
            <p id="calton">Calton Hill</p>
            <div class="btn-group" id="buttons">
                <button type="button" onclick="">View</button>
                <button type="button" onclick="">Delete</button>
            </div>
            <p id="camera">Camera Obscura</p>
            <div class="btn-group" id="buttons">
                <button type="button" onclick="">View</button>
                <button type="button" onclick="">Delete</button>
            </div>
        </div>
    </section>
</body>
<footer>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html"> About</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="loginpage.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li class="current"><a href="profile.html">Profile</a></li>
        </ul>
    </nav>
</footer>
</html>
