button {
    background-color: #c48200;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}
button:hover,
button:focus {
    background: orange;
    outline: 1px solid black;
    outline-offset: -2px;
}
button:active {
    transform: scale(0.90);
}
.btn-group button {
    cursor: pointer;
    width: 47%;
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
}
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}
.content {
    margin: auto;
    max-width: 900px;
    width: auto;
    padding: 10px;
}
header{
    background: #212733;
    color: #ffffff;
    min-height: 100px;
    border-bottom: #c48200 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header #title{
    float: left;
}
header #title h1{
    font-size: 32px;
    margin-right: 60px;
    margin-top: 25px;
    margin-left: 30px;
}
header li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 35px;
}
header ul{
    margin: 0;
    padding: 0;
}
header .highlight, header .current a{
    color: #c48200;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#profileshow img {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
#profileshow img, #profileshow textarea, #profileshow button {
    display: block;
}
#profileshow textarea {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    resize: none;
    border: none;
}
#profileshow button {
    margin-left: 136px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#profileshow {
    float: left;
    max-width: 400px;
}
#savedplans {
    float: right;
    width: 48%;
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: grey;*/
}
#savedplans p {
    margin-top: 18px;
    margin-bottom: 18px;
}
#savedplans h3 {
    background-color: #212733;
    color: white;
    margin: 0;
    font-size: 28px;
}
#castle {
    background-image: url(castle.png);
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
}
#arthurs {
    background-image: url(arthurs.png);
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
}
#botanic {
    background-image: url(botanic.png);
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
}
#calton {
    background-image: url(calton.png);
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
}
#camera {
    background-image: url(camera.png);
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: grey;
}

footer{
    clear: both;
    background-color: #212733;
    color: white;
    margin: auto;
    padding: 1px;
}
footer nav{
    margin-left: 300px;
}
footer li{
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
}
footer ul{
    
}
footer a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}




