button {
    background-color: #c48200;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
}
button:hover,
button:focus {
    background: orange;
    outline: 1px solid black;
    outline-offset: -2px;
}

button:active {
    transform: scale(0.90);
}
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}
.content {
    margin: auto;
    max-width: 800px;
    padding: 20px;
}
header{
    background: #212733;
    color: #ffffff;
    padding-top: 30px;
    min-height: 80px;
    border-bottom: #c48200 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header #title{
    float: left;
}
header #title h1{
    margin: 0;
    margin-left: 300px;
}
header nav{
    float: right;
    margin-top: 10px;
    margin-right: 300px;
}
header li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 40px;
}
header ul{
    margin: 0;
    padding: 0;
}
header .highlight, header .current a{
    color: #c48200;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#infotext, #emailtext, #messagetext {
   resize: none;
}
#emailbox {
}
#emailbox h2{
    float: left;
    display: inline-block;
}
#emailtext {
    float: right;
    display: inline-block;
    position: relative;
    right: 78px;
    top: 28px;
}
#messagebox h2 {
    margin-top: 76px;
}
footer{
    clear: both;
    background-color: #212733;
    color: white;
    margin: auto;
    padding: 5px;
}
footer nav{
    margin-left: 300px;
}
footer li{
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
}
footer ul{
    
}
footer a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}




