
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Edinburgh Travel Planner">
<meta name="keywords" content="edinburgh, tourism, travel, planner, locations">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="javascript.js"></script>
<link rel="stylesheet" href="style.css">
<title>Contact Us</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div id="title" class="row">
                <h1>Edinburgh Travel Planner - Contact Us</h1>
            </div>
            <nav class="col">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html"> About</a></li>
                    <li><a href="../contact/contact.html">Contact Us</a></li>
                    <li class="current"><a href="../loginpage/loginpage.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Content -->
    <section class="content">
    <div id="slider">
        <ul class="slides">
            <li class="slide"><img src="image400x400/edinburgh_castle_1.png"></li>
            <li class="slide"><img src="image400x400/edinburgh_castle_2.png"></li>
            <li class="slide"><img src="image400x400/arthur_seat_1.png"></li>
            <li class="slide"><img src="image400x400/calton_hill_1.png"></li>
            <li class="slide"><img src="image400x400/edinburgh_zoo_1.png"></li>
            <li class="slide"><img src="image400x400/garden_1.png"></li>
            <li class="slide"><img src="image400x400/someplace_1.png"></li>
            <li class="slide"><img src="image400x400/edinburgh_castle_1.png"></li>
        </ul>
    </div>
    <div id="logindetails">
        <h3 id="mainh3">Username/E-Mail:</h3>
        <textarea cols="41" rows="1" class="longInput" id="username" onfocus="this.value=''">Please enter your username/email...</textarea>
        <h3>Password:</h3>
        <textarea cols="41" rows="1" class="longInput" id="password" onfocus="if(this.value == 'value') { this.value = ''; }" value="value">Please enter your password...</textarea>
        
        <input type="checkbox" id="checkbox" name="rememberme" value="">Remember me
        
        <p id="para1">Forgot password?</p>
        
        <button type="button" id="signin" onclick="">SIGN IN</button>
        
        <p id="para2">No account? Create an account</p>
 
    </div>
    <div id="showcase1">
            <img src="image400x400/arthur_seat_1.png">
            
            <h3>Arthurs Seat</h3>
            
            <p>Arthur's Seat is the main peak of the group of hills in Edinburgh, Scotland, which form most of Holyrood Park, described by Robert Louis Stevenson as "a hill for magnitude, a mountain in virtue of its bold design". It is situated just to the east of the city centre, about 1 mile to the east of Edinburgh Castle.</p>
            <p id="moreinfo1">More Information</p>
    </div>
    <div id="showcase2">
            <img src="image400x400/edinburgh_castle_1.png">
            
            <h3>Edinburgh Castle</h3>
            
            <p>Edinburgh Castle is a historic fortress which dominates the skyline of the city of Edinburgh, Scotland, from its position on the Castle Rock. Archaeologists have established human occupation of the rock since at least the Iron Age, although the nature of the early settlement is unclear.</p>
            <p id="moreinfo2">More Information</p>
    </div>
    <div id="showcase3">
            <img src="image400x400/calton_hill_1.png">
            
            <h3>Calton Hill</h3>
            
            <p>Calton Hill is a mix of bustling commercial areas and quiet residential streets. The hill itself, with its city views, is home to the Collective contemporary art gallery and the unfinished National Monument. Gay bars and casual eateries cluster around the top of busy Leith Walk, where the Edinburgh Playhouse stages musicals and comedy. Locals frequent the bakeries, cafes and gift stores on vibrant Broughton Street.</p>
            <p id="moreinfo3">More Information</p>
    </div>
    
    </section>
</body>
    <!-- Footer -->
    <footer>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html"> About</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li class="current"><a href="loginpage.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </nav>
</footer>
</html>
