<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Edinburgh Travel Planner">
<meta name="keywords" content="edinburgh, tourism, travel, planner, locations">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="javascript.js"></script>
<link rel="stylesheet" href="style.css">
<title>Edinburgh Travel Planner - Home</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div id="title" class="row">
                <h1>Edinburgh Travel Planner</h1>
            </div>
            <nav class="col">
                <ul>
                    <li class="current"><a href="home.html">Home</a></li>
                    <li><a href="about.html"> About</a></li>
                    <li><a href="../contact/contact.html">Contact Us</a></li>
                    <li><a href="../loginpage/loginpage.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Content -->

<img src="calton_hill_2.png"  alt="Responsive image"  width="1900px" height="700px">


    <br>
    <br>
    <br>
<div class="container">
    <div class="row">
    <div class="col-xs-6">
        <h2> WELCOME</h2>

    Welcome to the Edinburgh Travel Planner website, from here you can plan and book activities to do with you're family!,<br>
Our Database is updated every week with new attractions hosted around Edinburgh.
  </div>

    <div class="col-xs-6">
     <h2>Are you ready?</h2>

     Are you ready to plan you're exciting trips around Edinburgh?, enjoy the day life and night life?, Register now and start to plan you're trip!<br>
        Register with us and look through all the attractions we provide, new ones each week, save them to your profile, find them on the map!.
    </div>
    </div>
</div>
<br>

</body>

<!-- Footer -->
    <footer>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html"> About</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li class="current"><a href="loginpage.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </nav>
</footer>
</html>