<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="Edinburgh Travel Planner">
<meta name="keywords" content="edinburgh, tourism, travel, planner, locations">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<title>Contact Us</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="title" class="row">
                <h1>Edinburgh Travel Planner - Contact Us</h1>
            </div>
            <nav class="col">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="../aboutedinburgh/aboutedinburgh.html">About Edinburgh</a></li>
                    <li><a href="../loginpage/loginpage.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="content">
    <div id="infobox">
        <h1>Contact Us</h1>
        <textarea rows="10" cols="100" class="longInput" id="infotext">Details about website...</textarea>
    </div>
    <div id="emailbox">
        <h2>E-Mail:</h2>
        <textarea rows="1" cols="86" class="longInput" id="emailtext" onfocus="this.value=''">Please enter your email address...</textarea>
    </div>
    <div id="messagebox">
        <h2>Write your message:</h2>
        <textarea rows="10" cols="100" class="longInput" id="messagetext" onfocus="this.value=''">Please enter your message...</textarea>
    </div>
    <button type="button" onclick="">SUBMIT</button>
    </section>
</body>
<footer>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html"> About</a></li>
            <li class="current"><a href="contact.html">Contact Us</a></li>
            <li><a href="loginpage.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="../profile/profile.html">Profile</a></li>
        </ul>
    </nav>
</footer>
</html>
